[submodule "excelplay-kryptos"]
	path = excelplay-kryptos
	url = https://github.com/Excel-MEC/excelplay-kryptos
[submodule "excelplay-dalalbull"]
	path = excelplay-dalalbull
	url = https://github.com/Excel-MEC/excelplay-dalalbull
[submodule "excelplay-echo"]
	path = excelplay-echo
	url = https://github.com/Excel-MEC/excelplay-echo
[submodule "excelplay-auth"]
	path = excelplay-auth
	url = https://github.com/Excel-MEC/excelplay-auth
[submodule "excelplay-client"]
	path = excelplay-client
	url = https://github.com/Excel-MEC/excelplay-client
[submodule "ExcelPlay-2019"]
	path = ExcelPlay-2019
	url = http://github.com/Excel-MEC/ExcelPlay-2019.git
