[submodule "excelplay-kryptos"]
	path = excelplay-kryptos
	url = https://github.com/Excel-MEC/excelplay-kryptos
[submodule "excelplay-dalalbull"]
	path = excelplay-dalalbull
	url = https://github.com/Excel-MEC/excelplay-dalalbull
[submodule "excelplay-echo"]
	path = excelplay-echo
	url = https://github.com/Excel-MEC/excelplay-echo
[submodule "excelplay-auth"]
	path = excelplay-auth
	url = https://github.com/Excel-MEC/excelplay-auth
[submodule "excel-play-2018"]
	path = excel-play-2018
	url = https://github.com/thezillion/excel-play-2018.git
